* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./background\ for\ todo-list.gif);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.content{
    background: linear-gradient(to right, #ffd4d4a2, #ffa36e95, #ffd4d4a2);    
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid rgb(255, 140, 159);
    border-radius: 10px;
}

header{
    background: linear-gradient(to right, #7d90ff5f);
    padding: 20px;
    color: #fff;
}
header h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background: linear-gradient(to right, #ff3142, #ffa36ed4, #fdb34cd2);
    background-clip: text;
    color: transparent;
    font-weight: 900;
    background-size: 150% auto;
    animation: text-anima 4s infinite linear;
}
@keyframes text-anima {
    0%{ background-position: 0% 50%; }
    25%{ background-position: 50% 50%; }
    50%{ background-position: 100% 50%; }
    75%{ background-position: 50% 50%; }
    100%{ background-position: 0% 50%; }
}

    input[type ="text"]{
    flex: 1;
    padding: 10px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ff6450;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    background: linear-gradient(to right, #ffffffd6,#ffb07482 );
}
.input-section{
    display: flex;  
    gap: 10px;
}

.input-section button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor:pointer;
    color: #fff;
    background: linear-gradient(to right,  rgba(255, 130, 151, 0.516), rgba(255, 185, 93, 0.589));
    font-weight: bold;
}

.todo-content{
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.todo-list{
    margin: 0;
    padding: 0;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(to right, rgba(255, 122, 122, 0.648), rgba(255, 175, 137, 0.516), rgba(255, 122, 122, 0.648));
    margin: 10px;
    border-radius: 10px;
}
.todo-item:hover{
    transform: scale(1.04);
    background-color: #ffffff76;
    transition: all 0.5s ease;
}
.todo-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todo-act button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: black;
}
.todo-act:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

button:hover{
    color: #ff3647;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 2px solid black;
    appearance: none;
    background: rgb(206, 206, 206);
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6955;
    border-radius: 50%;
    position: absolute;
}

